In [1]:
import numpy as np
import pandas as pd

# Histórico Ventas

In [2]:
df = pd.read_excel('../data/raw/DemandForecast_Challenge (1).xlsx', sheet_name='HistoricoVentas', parse_dates=['Mes'],
                   dtype={'Subagencia': str, 'SKU': str})
df = df.loc[:, ['Mes', 'Subagencia', 'SKU', 'Hectolitros']].reset_index(drop=True)
print(df.shape)
df.head()

(554466, 4)

         Mes Subagencia       SKU  Hectolitros
0 2013-01-01      10197  00000001    48.028901
1 2013-01-01      10203  00000001     2.524817
2 2013-01-01      10198  00000001     3.500314
3 2013-01-01      10204  00000001     8.549948
4 2013-01-01      10199  00000001     6.484189

In [3]:
df.SKU.nunique()

276

In [4]:
df.Subagencia.nunique()

100

In [5]:
df.to_parquet('../data/processed/HistoricoVentas.parquet', engine='pyarrow')

# Subagencias

In [6]:
df = pd.read_excel('../data/raw/DemandForecast_Challenge (1).xlsx', sheet_name='Catalogo Subagencias', 
                   dtype={'Subagencia': str, 'SKU': str})
df = df.loc[:, ['Subagencia', 'Desc_Subagencia', 'Latitud', 'Longitud']].reset_index(drop=True)
print(df.shape)
df.head()

(100, 4)

  Subagencia Desc_Subagencia    Latitud    Longitud
0      10197   CMM M Tijuana  32.483126 -116.949128
1      10203    CMM San Luis  32.448203 -114.775272
2      10198     CMM Peñasco  31.419830 -113.412489
3      10204    CMM Ensenada  31.850329 -116.611457
4      10199    CMM Mexicali  32.515571 -115.388674

In [7]:
df.Subagencia.nunique()

100

In [8]:
df.to_parquet('../data/processed/Catalogo_Subagencias.parquet', engine='pyarrow')

# Revisión

In [3]:
df_hist = pd.read_parquet('../data/processed/HistoricoVentas.parquet', engine='pyarrow')
df_hist.shape

(554466, 4)

In [7]:
df_hist.groupby(['Subagencia', 'SKU'], as_index=False).Hectolitros.sum().shape

(8943, 3)

In [8]:
df_cat = pd.read_parquet('../data/processed/Catalogo_Subagencias.parquet', engine='pyarrow')
df_cat.head()

  Subagencia Desc_Subagencia    Latitud    Longitud
0      10197   CMM M Tijuana  32.483126 -116.949128
1      10203    CMM San Luis  32.448203 -114.775272
2      10198     CMM Peñasco  31.419830 -113.412489
3      10204    CMM Ensenada  31.850329 -116.611457
4      10199    CMM Mexicali  32.515571 -115.388674

In [11]:
145 - 276

-131

In [9]:
df_cat.shape

(100, 4)

In [10]:
df_hist.Hectolitros.describe()

count    554466.000000
mean         87.480776
std         496.178865
min           0.000000
25%           0.000000
50%           0.000000
75%           5.468820
max       19929.436128
Name: Hectolitros, dtype: float64